{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{% if edit %}{{ 'admin.user.button.edit'|trans }}{% else %}{{ 'admin.user.button.new'|trans }}{% endif %}</button>
{{ form_end(form) }}
